
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'recipe/css/style.css' %}"type="text/css" >
</head>
<body>

	{% include "includes/recipe/header.html" %}
	{% include "includes/recipe/menu.html" %}
	<div class="sidebar">
		{% include "includes/recipe/sideleft.html" %}
		<div class="sidecentr">
			
			{% block sidecentr %}
			{% endblock %}
		</div>
		{% include "includes/recipe/sideright.html" %}
	</div>
	
	{% include "includes/recipe/footer.html" %}
</body>
</html>